VITE_TELEGRAM_TOKEN=tu_token_aqui
VITE_TELEGRAM_CHAT_ID=-100xxxxxxxxx
VITE_MIN_SPREAD=0.05
VITE_REFRESH_MS=15000
VITE_MIN_HL_VOL=100000
VITE_MIN_EXT_VOL=30000
VITE_MAX_PRICE_DIFF=0.15
VITE_MAX_BIDASK=0.10
